.img-logo{
    position: absolute;
    width: 114px;
    height: 106px;
    left: 80px;
    top: 25px;
}

.btn-participar{
    position: absolute;
    width: 192px;
    height: 52px;
    left: 1086px;
    top: 52px;
    background: #B5DDBE;
    border-radius: 6px;

    position: absolute;
    left: 19.38%;
    right: 20.2%;
    top: 21.73%;
    bottom: 22.5%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
}

.btn-conheca{
    width: 276px;
    height: 52px;
    background: #B5DDBE;
    border-radius: 6px;

    position: absolute;
    left: 4.41%;
    right: 4.64%;
    top: 21.73%;
    bottom: 22.5%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
}

.btn-registrar{
    position: absolute;
    width: 178px;
    height: 40px;
    background: #B5DDBE;
    border-radius: 6px;

    position: absolute;
    left: 19.41%;
    right: 19.35%;
    top: 15%;
    bottom: 12.5%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
}

.rounded-circle{
    width: 247px;
    height: 247px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.financas{
    position: absolute;
    width: 376px;
    height: 266px;
    left: -39px;
    top: 208px;
}

.produtividade{
    position: absolute;
    width: 292px;
    height: 207px;
    left: 637px;
    top: 237px;
}

.instagram{
    position: absolute;
    width: 52px;
    height: 52px;
    left: 325px;
    top: 748px;
}

.redes-sociais-1{
    position: absolute;
    width: 52px;
    height: 52px;
    left: 765px;
    top: 419px;
}

.redes-sociais-2{
    position: absolute;
    width: 51px;
    height: 51px;
    left: 814px;
    top: 367px;
}

.redes-sociais-3{
    position: absolute;
    width: 67px;
    height: 59px;
    left: 914px;
    top: 367px;    
}